@font-face {
    font-family: 'clarendon-boldregular';
    src: url('fonts/ClarendonBold-webfont.eot');
    src: url('fonts/ClarendonBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClarendonBold-webfont.woff2') format('woff2'),
         url('fonts/ClarendonBold-webfont.woff') format('woff'),
         url('fonts/ClarendonBold-webfont.ttf') format('truetype'),
         url('fonts/ClarendonBold-webfont.svg#clarendon-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
