@import "libs/normalize";
@import "libs/countdown";
@import "vars";
@import "fonts";
@import "media";

// GLOBAL
* {
  box-sizing: border-box;
}

body {
  background: #010001;
  font-family: 'clarendon-boldregular';
  color: #fff;
  text-align: center;
}

// HEADER
header {
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  max-width: $container-width;
  padding: $contianer-padding;
  margin: auto;
  img.logo {
    width: 100%;
    display: block;
    @include respond-to(polo) {
      width: 350px !important;
    }
  }
}

// MAIN
.main {
  width: 100%;
  margin-top: 70px;
  background: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.main-container {
  max-width: $container-width;
  margin: auto;
  padding: $contianer-padding;
}

// VIDEO
.hero-video-container {
  position: relative;
	padding-bottom: 52.85%; /* 16:9 */
	padding-top: 25px;
	height: 0 !important;
  padding-top: 30px;
  margin-bottom: 60px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      outline: 3px #ccc solid;
    }
}

// HEADLINE
.headline {
  color: #fff;
  font-size: 31px;
  text-align: center;
  margin: 2.5em 0 1.5em 0;
}

// COUNT DOWN
h3.clock-header{
  color: #3E5EA2;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.count-down {
  max-width: 500px;
  overflow: auto;
  margin: auto;
  color: #fff;
}

#clock {
  span.date {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    font-size: 21px;
  }
  span.date-inticator {
    color: #B7495C;
  }
}

// MAIN COPY
.main-copy {
  padding: 2em 0;
}

p {
  font-size: 22px;
  line-height: 31px;
}

p.highlight {
  color: #CDC0D2;
}

// MAP
.map-wrap {
  overflow: auto;
}

.map-text {
  width: 100%;
  display: block;
  @include respond-to(passat) {
    width: 50%;
    float: left;
}
}

.map {
  width: 100%;
  position: relative;
  padding-bottom: 32.25%; /* 16:9 */
  padding-top: 25px;
  height: 0 !important;
  margin-bottom: 60px;

  @include respond-to(passat) {
  width: 50%;
  float: left;
}
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // margin-top: 30px;
      // outline: 3px #ccc solid;
    }
}

// FOOTER
footer {
  width: 100%;
  // height: 200px;

  padding: 3em 0 1.5em 0;
  background: #18191A;
}

img.footer-logo-img {
  width: 90%;
  max-width: 500px;
}

p.copy-text {
  font-size: 12px;
}
